<fieldset ng-init="init()" style="padding: 25px;">
	<legend style="font-size: 14px;">用地信息</legend>
	<table class="table table-bordered">
		<!-- <caption>用地信息</caption> -->
		<thead>
			<tr>
				<th>用地编码</th>
				<th>用地名称</th>
				<th>用地面积</th>
				<th>用地状态</th>
				<th style="width: 150px;">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="landList.length == 0">
				<td colspan="5"
					style="text-align: center; height: 100px; line-height: 100px">暂无相关信息</td>
			</tr>
			<tr ng-repeat="land in landList">
				<td>{{land.code}}</td>
				<td>{{land.landName}}</td>
				<td>{{land.landAreas}}</td>
				<td>{{land.landState}}</td>
				<td><a ng-click="displayLand(land.id)">查看</a>&nbsp;&nbsp;&nbsp;<a
					ng-click="editLand(land.id)">编辑</a>&nbsp;&nbsp;&nbsp;<a
					ng-click="deleteLand(land.id)">删除</a></td>
			</tr>
		</tbody>
	</table>
</fieldset>