<ul style="padding: 0px;">
	<li ng-repeat="item in items" class="pli">
		<div ng-click="expand($event)" class="ev"
			style="padding-left: 20px;">
			<span
				style="text-align: left; display: inline-block; height: 40px; line-height: 40px; width: 85%;">{{item.name}}</span><span
				class="glyphicon glyphicon-chevron-right"> </span>
		</div>
		<ul style="padding: 0px; display: none;" class="sub">
			<li ng-repeat="childItem in item.childItems" class="sli" ng-click="goAim(childItem.url)">{{childItem.name}}</li>
		</ul>
	</li>
</ul>
